{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Partie {{ game.name }}</title>
  <script src='{% static "third-party/interpreter/acorn_interpreter.js" %}'></script>
  <script src='{% static "third-party/blockly/blockly_compressed.js" %}'></script>
  <script src='{% static "third-party/blockly/blocks_compressed.js" %}'></script>
  <script src='{% static "third-party/blockly/javascript_compressed.js" %}'></script>
  <script src='{% static "third-party/blockly/msg/js/fr.js" %}'></script>

  <script src='{% static "third-party/p5/p5.js" %}'></script>
  <script src='{% static "third-party/p5/p5.sound.js" %}'></script>  

  <script src='{% static "js/initApi.js" %}'></script>
  <script src='{% static "js/maze_blocks.js" %}'></script>
  <script src='{% static "js/maze.js" %}'></script>
  <script src='{% static "js/character.js" %}'></script>
  
  <script>
  <!-- on a besoin de super_coin pour afficher sur le bloc personnalisé -->
  var super_coin='{% static "third-party/blockly/media/super_coin.png" %}'
  game_layout = {{ game.level.lvl_map|safe }}

  </script>
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
    #capacity {
      color: red;
    }
  </style>
</head>
<body>
  <!-- Titres -->
    <p style="float:right;">
      <img id="playerIcon">Bonjour {{ user }}<br>
      <a href="{% url 'chat:index' %}">Quitter la partie</a><br>
    </p>
    
    <h1>{{ game.name }} : {{ game.level.name }}</h1>
    
    <p>
      <b>Il reste <span id="capacity"></span> bloc(s) à utiliser.</b>
      <input type="button" onclick="validateCode();" id="validateButton" value="Valider">
    </p>

  

  <!-- Première ligne -->
  <div style="width: 100%">
    <!-- Blockly workspaces -->
    {% for c in game.level.character_set.all %}
      <div id="blocklyDiv{{ forloop.counter0 }}"
          style="position:absolute; left:-1000px; height: 500px; width: 50%"></div>
    {% endfor %}
    
    <!-- Canevas P5 -->
    <div id="canvas" style="position:relative;display:inline-block;margin:5px;"></div>
  </div>
  
  <!-- Seconde ligne -->
  <div style="width: 50%; margin:10px;display:inline-block; ">
    <!-- Chat -->
    <div id="chat-log" style="overflow-y: scroll;width:100%;height:200px;border:solid lightgrey 1px;"></div>
    <input id="chat-message-input" type="text" style="width:85%; %">
    <input id="chat-message-submit" type="button" style="width:13%;float:right" value="Envoyer">
  </div>
  <div id="playersList" style="height:200px;width:10%;display:inline-block;background-color:white"></div>
  <div id="statusDiv" style="overflow-y: scroll;display:inline-block; width:30%; height: 200px; border:solid white 1px;">
  {{ game.level.description|safe }}
  </div>
  <!-- Toolbox pour blockly -->
  <xml id="toolbox" style="display: none">
      {% for tool in game.level.blocks.all %}
      <block type="{{ tool }}"></block>
      {% endfor %}
  </xml>

  
<script>
  var parseButton = document.getElementById('parseButton');
  var startButton = document.getElementById('startButton');
  var resetButton = document.getElementById('resetButton');
  var validateButton = document.getElementById('validateButton');
  var statusDiv = document.getElementById('statusDiv');
  var chatLog = document.getElementById('chat-log');
  var playersList = document.getElementById('playersList');
  var playerIcon = document.getElementById('playerIcon');

  var interpreters = [];

  var latestCode = null;
  var codes = [];

  var characters = []; // Les personnages disponibles pour cette partie
  var players = []; // Les joueurs qui se connectent
  var workspaces = [];
  // Le nombre de joueurs prévus pour la partie
  var maxPlayers = {{ game.level.character_set.count }};

  var iPlayer = nextIPlayer = null; // interpréteurs des joueurs
  var currentPlayer = 0;

  var playerPos = null; // Sera initialisé à la connection via websocket

	Blockly.JavaScript.STATEMENT_PREFIX = 'highlightBlock(%1);\n';
	Blockly.JavaScript.addReservedWords('highlightBlock');

  window.LoopTrap = 50;
  Blockly.JavaScript.INFINITE_LOOP_TRAP =
      'if (--trap == 0) throw "Boucle infinie.";\n';
  //~ Blockly.Xml.domToWorkspace(document.getElementById('start_blocks'),
                               //~ workspace);
  
  
  function validateCode() {
    validateButton.disabled = "disabled";
    latestCode = Blockly.JavaScript.workspaceToCode(players[playerPos].workspace);
    chatSocket.send(JSON.stringify({
        'action': 'code',
        'message': latestCode,
      }))
    }  
  
  function startCode() {
    stepCode();
  }
  
  //~ function stepCode() {
    //~ try {
      //~ iPlayer = interpreters[currentPlayer]
      //~ nextIPlayer  = interpreters[(currentPlayer + 1 ) % maxPlayers]
      //~ if (iPlayer.run() && !iPlayer.over) {
        //~ if ( ['moveForward','turnLeft','turnRight'].includes(iPlayer.value)) {
          //~ console.log('SWITCH FROM %s TO %s', currentPlayer,(currentPlayer + 1 ) % maxPlayers);
          //~ iPlayer.value = null;
          //~ currentPlayer = (currentPlayer + 1 ) % maxPlayers;
        //~ }
        //~ setTimeout(stepCode, 10);
        //~ return;
      //~ }
      //~ iPlayer.over = true;
      //~ iPlayer.player.workspace.highlightBlock(null);
      //~ var allFinished = true;
      //~ interpreters.forEach( i => allFinished &= i.over );
      //~ if (!allFinished) {
        //~ console.log('SWITCH FROM %s TO %s', currentPlayer,(currentPlayer + 1 ) % maxPlayers);
        //~ currentPlayer = (currentPlayer + 1 ) % maxPlayers;
        //~ setTimeout(stepCode, 10);
      //~ } else {
        //~ console.log('All done');
        //~ var result ="";
        //~ var allGood = true;
        //~ players.forEach(p => {
          //~ allGood &= p.winner;
          //~ result += p.name + (p.winner ? " a" : " n'a pas") + " trouvé la solution\n";
          //~ if (!p.winner) {
            //~ p.pX = p.nPosX = p.origPX;
            //~ p.pY = p.nPosY = p.origPY;
            //~ p.dir = p.nDir = p.origDir;
            //~ codes[p.position] = null;
            //~ interpreters[p.position].over = false;
          //~ } else {
            //~ codes[p.position] = "";
          //~ }
        //~ });
        //~ setTimeout(_ => alert(result), 500);
        //~ if (players[playerPos].winner && !allGood) {
          //~ chatSocket.send(JSON.stringify({
              //~ 'action': 'code',
              //~ 'message': '',
          //~ }));
        //~ } else {
          //~ validateButton.disabled = null;
        //~ }
        //~ codes = [];

      //~ }
    //~ } catch (error) { 
      //~ alert(error);
      //~ reset();
    //~ }
  //~ }
  
  function reset() {
    //~ interpreters.forEach( val => val.over = true);
    setTimeout( function() {
      interpreters.forEach( val => val.player.workspace.highlightBlock(null));
    },500);
    validateButton.disabled = null;
  }

  /////////////// Canvas /////////////////////
  function preload() {
    coinsPng = loadImage("{% static 'img/coins.png'%}");
    superCoinsPng = loadImage("{% static 'img/super_coins.png'%}");
    stoneFloor = loadImage("{% static 'img/floor.jpg'%}");
    hWall = loadImage("{% static 'img/h_wall.jpg'%}");
    vWall = loadImage("{% static 'img/v_wall.jpg'%}");
    soundFormats('mp3', 'ogg');
    coinSound = loadSound("{% static 'sounds/coin.mp3'%}");
    superCoinSound = loadSound("{% static 'sounds/super_coin.mp3'%}");
  }

  function setup() {
    background('navajowhite');
    frameRate(60);
    laby = new Laby('canvas', game_layout||default_game);
    {% for c in game.level.character_set.all %}
      p = new Character(
        {{ c.posX }},
        {{ c.posY }},
        '{{ c.direction }}',
        '{{MEDIA_URL}}{{ c.pixel.sprite }}',
        {{ c.pixel.downIndex }},
        {% if c.pixel.clockWise %}true{% else %}false{% endif %},
        {{ c.pixel.nbHPix }},
        {{ c.pixel.nbVPix }},
        '{{MEDIA_URL}}{{ c.pixel.icon }}',
        );      
      characters.push(p);
    {% endfor %}
  }

  function draw() {
    background('navajowhite');
    laby.draw();
    players.forEach(p => p.draw());
  }
  
  // Chat
  ////////////////////
  var chatSocket = new WebSocket(
      'ws://' + window.location.host +
      '/ws/chat/' + {{ game.id }} + '/' );

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var action = data['action']
    
    switch (action) {
      case 'chat':
        var message = data['message'];
        chatLog.innerText += (message + '\n');
        chatLog.scrollTop = chatLog.scrollHeight;
        break;
      
      case 'code':
        var code = data['message'];
        var pPos = data['position'];
        codes[pPos] = code;
        console.log('code received for player %s : \n%s', pPos, code);
        var nb_codes = codes.filter(_ => {return true} ).length;
        // On a autant de codes renseignés que de joueurs
        if (nb_codes == maxPlayers) {
          console.log('All codes received');
          codes.forEach( (c,idx) => {
              players[idx].workspace.highlightBlock(null);
              players[idx].workspace.highlightPause = true;
              var i = new Interpreter(c, initApi);
              i.hasMoreCode = true;
              i.player = players[idx];
              interpreters[idx] = i;
            });

          stepCode();
        }
        
        break;      
      
      case 'connection':
        console.log('Incoming connection from %s at position %s/%s', data['user'], data['position']+1, data['max_players']);
        chatLog.innerText += data['user'] + ' a rejoint la partie\n'
        
        if (data['user'] === '{{ user.username }}') {
          playerPos = data['position']; // Auto notification de connexion -> on mémorise notre place dans le jeu
          var waitImg = function() {
            if (characters.length !== maxPlayers) {
              setTimeout(waitImg, 5);
              return;
            } else {  
              playerIcon.src = characters[playerPos].icon;
            }          
          }
          waitImg();
          
          document.getElementById('blocklyDiv'+playerPos).style.position = 'relative';
          document.getElementById('blocklyDiv'+playerPos).style.display = 'inline-block';
          document.getElementById('blocklyDiv'+playerPos).style.left = '10px';
        }
        var waitSetup = function() { // On attend que les personnage P5js soient prêts
          if (characters.length !== maxPlayers) {
            setTimeout(waitSetup, 5);
          } else {
            if (data['players'].length === maxPlayers) {
              data['players'].forEach( p => {
                players[p[0]] = characters[p[0]];
                players[p[0]].name = p[1];
                players[p[0]].position = p[0];
                players[p[0]].workspace = Blockly.inject('blocklyDiv'+p[0], {
                  media: '{% static "third-party/blockly/media/" %}',
                      maxBlocks: {{ game.level.maxBlocks }},
                      trashcan: true,
                      toolbox: document.getElementById('toolbox')});
                var img = document.createElement('img');
                var txt = document.createElement('span');
                var div = document.createElement('div');
                img.src = characters[p[0]].icon;
                img.style.width = "30px";
                txt.textContent = p[1];
                div.appendChild(img);
                div.appendChild(txt);
                playersList.appendChild(div);
              });              
              function onchange(event) {
                  document.getElementById('capacity').textContent =
                      players[playerPos].workspace.remainingCapacity();
              }
              players[playerPos].workspace.addChangeListener(onchange);
              onchange();
            }
          }
        }
        waitSetup();
        break;
      
      case 'disconnection':
        console.log('Disconnection from %s at position %s/%s', data['user'], data['position']+1, data['max_players']);
        alert(data['user'] + ' a quitté la partie');
        window.location = {% url 'chat:index' %};
        break;
    }
  };

  chatSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };

  // Chat messages
  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
          document.querySelector('#chat-message-submit').click();
      }
  };

  document.querySelector('#chat-message-submit').onclick = function(e) {
      var messageInputDom = document.querySelector('#chat-message-input');
      var message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
          'action': 'chat',
          'message': message
      }));

      messageInputDom.value = '';
  };

    function stepCode() {
      //~ console.log('STEPPING for %s', currentPlayer);
      var intrprtr = interpreters[currentPlayer];
      var wrkspc = intrprtr.player.workspace
      
      wrkspc.highlightPause = false;   // HIGHLIGHT OFF
      
      function wt() {
        intrprtr.hasMoreCode = intrprtr.step(); // STEP
        //~ console.log('More = %s, Paused = %s', intrprtr.hasMoreCode, wrkspc.highlightPause);
        if (intrprtr.hasMoreCode && !wrkspc.highlightPause) {
          setTimeout(wt, 5);
          //~ console.log('WT');
          return; // On consomme les instructions jusqu'à une pause ou
                  // que plus de code
                  
        } else { // On a finit le code ou on est arrêté sur Highlight
          // Si c'est le code qui est fini, on éteint les blocs
          if (!intrprtr.hasMoreCode) {wrkspc.highlightBlock(null);}
          // Y a-t-il encore du code pour des autres interpréteurs ?
          var stillOther = false;
          interpreters.forEach( (i,idx) => {
            stillOther |= i.hasMoreCode;
            //~ console.log("I%s -> %s", idx, i.hasMoreCode)
            });
          //~ console.log('STILL other code : %s', stillOther)
          if (stillOther) {
            //~ console.log('SWITCHING from %s to %s',currentPlayer,(currentPlayer+1) % maxPlayers);
            currentPlayer = (currentPlayer+1) % maxPlayers;
            setTimeout(stepCode, 500);
          }
          else {
            // On a terminé pour tous les codes
            console.log(">> Program complete");


            var result ="";
            var allGood = true;
            players.forEach(p => {
              allGood &= p.winner;
              result += p.name + (p.winner ? " a" : " n'a pas") + " trouvé la solution\n";
              if (!p.winner) {
                p.pX = p.nPosX = p.origPX;
                p.pY = p.nPosY = p.origPY;
                p.dir = p.nDir = p.origDir;
                delete codes[p.position];
                //~ interpreters[p.position].over = false;
              } else {
                codes[p.position] = "";                
              }
            });
            setTimeout(_ => alert(result), 500);
            //~ if (players[playerPos].winner && !allGood) {
            if (players[playerPos].winner ) {
              //~ chatSocket.send(JSON.stringify({
                  //~ 'action': 'code',
                  //~ 'message': '',
              //~ }));
            } else {
              validateButton.disabled = null;
            }
          }        
        }
      }
      wt(); 
      
    }

</script>
</body>
</html>
