{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--
   character_preview.html
   
   Copyright 2019 Live session user <kubuntu@kubuntu>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->

<head>
   <meta charset="utf-8" />
   <title>Aperçu d'un personnage</title>
   <script src="{% static 'third-party/p5/p5.js' %}"></script>
   <script src="{% static 'js/character.js' %}"></script>
   <script src="{% static 'js/maze.js' %}"></script>
</head>

<body>
   <h1>{{ pixel.name }}&nbsp;<img src="{{MEDIA_URL}}{{ pixel.icon }}"></h1>
   <div style="width:500px; height:500px; border: solid black 1px; background-color: antiquewhite; display:inline-block" id="canvas"></div>
   <form method="POST" enctype="multipart/form-data" style="display:inline-block">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Enregistrer">
      &nbsp;<a href="{% url 'maze:pixel_index' %}">[personnages]</a>
      &nbsp;<a href="{% url 'maze:index' %}">[niveaux]</a>
   </form>
   <br>
   <input type="button" value="tourner à gauche" onclick="character.turnLeft();">
   <input type="button" value="tourner à droite" onclick="character.turnRight();">
   <input type="button" value="avance" onclick="character.move(50);">

   <script>
      var canvas;
      var sprite;
      var character;
      function preload() {
         {% if pixel %}sprite = "{{ pixel.sprite.url }}";{% endif %}
          coinsPng = loadImage("{% static 'img/coins.png'%}");
          superCoinsPng = loadImage("{% static 'img/super_coins.png'%}");
          stoneFloor = loadImage("{% static 'img/floor.jpg'%}");
          hWall = loadImage("{% static 'img/h_wall.jpg'%}");
          vWall = loadImage("{% static 'img/v_wall.jpg'%}");
      }
      function setup() {
         laby = new Laby('canvas');
         {% if pixel %}
         character = new Character(
            100,
            100,
            'down',
            '{{ pixel.sprite.url }}',
            {{ pixel.downIndex }},
            {% if pixel.clockWise %}true{% else %}false{% endif %},
            {{ pixel.nbHPix }},
            {{ pixel.nbVPix }},
            );
         {% endif %}
      }
      function draw() {
         background('navajowhite');
         laby.draw();
         {% if pixel %}character.draw();{% endif %}
      }
   </script>
</body>

</html>
